%tr
  %td
    = get_map_name(map_hero_stat.map)
  %td
    %span.heroimage
      %img{:src => image_url("#{get_hero_name(map_hero_stat.hero)}.png"), title:"#{get_hero_name(map_hero_stat.hero)}", alt:"#{get_hero_name(map_hero_stat.hero)}"}
      = get_hero_name(map_hero_stat.hero)

  %td
    = map_hero_stat.wins
  %td
    = map_hero_stat.losses
  %td
    = map_hero_stat.draws
  %td
    = win_ratio(map_hero_stat.wins, map_hero_stat.total_games)
    \%
    %div.bar
      %div.segment.segment-win{:style => "width:#{win_ratio(map_hero_stat.wins, map_hero_stat.total_games)}%"}
  %td
    = win_ratio(map_hero_stat.total_games, @total_games)
    \%
    %div.bar
      %div.segment.segment-rating{:style => "width:#{win_ratio(map_hero_stat.total_games, @total_games)}%"}
  %td
    = map_hero_stat.total_games
