%p
= get_map_name(map_stat.map)
= map_stat.wins
= map_stat.losses
= map_stat.draws
= win_ratio(map_stat.wins, map_stat.total_games)
\%
= win_ratio(map_stat.total_games, @total_games)
\%
/the above one is played % write it as played
= map_stat.total_games
