%p
= get_hero_name(hero_stat.hero)
/mby put a picture infront of class or before whatever looks better
= hero_stat.wins
= hero_stat.losses
= hero_stat.draws
= win_ratio(hero_stat.wins, hero_stat.total_games)
\%
= hero_stat.total_games
