%tr
  %td
    %span.heroimage
      %img{:src => image_url("#{get_hero_name(hero_stat.hero)}.png"), title:"#{get_hero_name(hero_stat.hero)}", alt:"#{get_hero_name(hero_stat.hero)}"}
      = get_hero_name(hero_stat.hero)
    /mby put a picture infront of class or before whatever looks better
  %td
    = hero_stat.wins
  %td
    = hero_stat.losses
  %td
    = hero_stat.draws
  %td
    = win_ratio(hero_stat.wins, hero_stat.total_games)
    \%
    %div.bar
      %div.segment.segment-win{:style => "width:#{win_ratio(hero_stat.wins, hero_stat.total_games)}%"}
  %td
    = hero_stat.total_games
