%tr
  %td
    = group_stat.group_size
  %td
    = group_stat.wins
  %td
    = group_stat.losses
  %td
    = group_stat.draws
  %td
    = win_ratio(group_stat.wins, group_stat.total_games)
    \%
    %div.bar
      %div.segment.segment-win{:style => "width:#{win_ratio(group_stat.wins, group_stat.total_games)}%"}

  %td
    = group_stat.total_games
