%p Match ID, Skill rating
= match.id
= match.rank
= match.winstreak
= match.losestreak
= match.wld
/ I will fix wld
= match.video_link
= match.notes
= match.map
= match.group_size
/ I will fix map too
/ hero should be added here too when implemented
