%p
= match.id
= match.rank
= match.winstreak
= match.losestreak
= get_wld(match.wld)
/ I will fix wld
= match.video_link
= match.notes
= get_map_name(match.map)
= match.group_size
- match.heros.each do |h|
  = get_hero_name(h.hero)
