%p Attributes that user needs to enter are map, heroes, rank and groupsize
%p wow we didnt add groupsize in our erd, now I have to implement it
%p heroes are not yet implemented on backend, so it may break, you should still be able to design it

%p Attributes that user needs to enter are map, heroes, rank and groupsize
%p wow we didnt add groupsize in our erd, now I have to implement it
%p heroes are not yet implemented on backend, so it may break, you should still be able to design it
%div.row
  %div.col-sm-3.col-md-offset-3
    = form_for(@match) do |f|
      = f.label :map, class:"field-labels", value: "Maps"
      = f.select "map", [["Tracer", 1], ["Junkrat", 2]]
      = f.label :heros, class: "field-labels", value: "Heros:"
      = f.fields_for :heros do |h|
        = h.select "hero", [["Tracer", 1], ["Junkrat", 2]]
      = f.label :rank
      = f.text_field:rank, class:"form-control input-fields"

      = f.label :group_size
      = f.number_field:group_size, class:"form-control input-fields"
