%div.row
  %div.col-xs-6.col-xs-offset-3
    = form_for(@match) do |f|
      = f.label :map, class:"field-labels", value: "Map Played:"
      = f.select "map", [["Tracer", 1], ["Junkrat", 2]]
      = f.label :heros, class: "field-labels", value: "Hero Played:"
      = f.fields_for :heros do |h|
        = h.select "hero", [["Tracer", 1], ["Junkrat", 2]]
      = f.label :rank, class:"field-labels", value: "Rank"
      = f.text_field:rank, class:"form-control input-fields",  placeholder: "Enter Your Rank\..."
      = f.label :group_size, class:"field-labels", value: "Group Size"
      = f.number_field:group_size, class:"form-control input-fields", placeholder: "Enter Your Group Size\..."
