%p Attributes that user needs to enter are map, heroes, rank and groupsize
%p wow we didnt add groupsize in our erd, now I have to implement it
%p heroes are not yet implemented on backend, so it may break, you should still be able to design it
%div.row
  %div.col-md-6.col-md-offset-3
    = form_for(@match) do |f|
      = f.label :heros, class: "field-labels", value: "Heros:"
      =f.fields_for :heros do |h|
      
      %p
        %select{ :name => "question[question_status]" }
          %option{:value => 1}= "label 1"
          %option{:value => 2}= "label 2"
      %p
        = f.submit "Update"
      %p
        = link_to 'Back', :back
