%tr
  %td
    = get_time_period(time_stat.time_period)
  %td
    = time_stat.wins
  %td
    = time_stat.losses
  %td
    = time_stat.draws
  %td
    = win_ratio(time_stat.wins, time_stat.total_games)
    \%
    %div.bar
      %div.segment.segment-win{:style => "width:#{win_ratio(time_stat.wins, time_stat.total_games)}%"}
  %td
    = win_ratio(time_stat.total_games, @total_games)
    \%
    %div.bar
      %div.segment.segment-rating{:style => "width:#{win_ratio(time_stat.wins, time_stat.total_games)}%"}
