%header.transparent.navbar
  %div.container
    %div#logo-holder
      = link_to "Overtracker", root_url, id: "logo"
    %nav.cs-nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Faqs",   '#'
        %li= link_to "Add New Match", new_match_path
        - if logged_in?
          %li= link_to "Settings", edit_user_path(cur_user)
        - else
          %li= link_to "Signup", signup_path
          %li{:class => 'csbuttons'}
            = link_to "Login", login_path
