%header.transparent.navbar
  %div.container
    %div#logo-holder
        %img{:src => image_url("logo.png"), title:"OverTracker", alt:"OverTracker"}
          = link_to "", root_url, id: "logo"
    %nav.cs-nav
      %div.navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %div#bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          - if logged_in?
            %li= link_to "Add Match", new_match_path
            %li= link_to "Matches", matches_path
            %li= link_to "Hero", hero_stats_path
            %li= link_to "Map", map_stats_path
            %li= link_to "Per Map", map_hero_stats_path
            %li= link_to "Group", group_stats_path
            %li= link_to "Time", time_stats_path
            %li= link_to "Settings", edit_user_path(cur_user)
            %li{:class => 'csbuttons'}
              = link_to "Logout", logout_path, method: "delete"
          - else
            %li= link_to "Signup", signup_path
            %li{:class => 'csbuttons'}
              = link_to "Login", login_path
