%div.row
  %div.col-sm-6.col-sm-offset-3
    = form_for(@user) do |f|
      = render 'shared/error_messages'
      = f.label :battletag, class: "field-labels", value: "Battle Tag:"
      = f.text_field :battletag, class: "input-fields form-control", placeholder: "Enter Battle Tag\..."
      = f.label :email, class: "field-labels", value: "Email:"
      = f.email_field :email, class: "input-fields form-control", placeholder: "Email Address\..."
      = f.label :password, class: "field-labels", value: "password:"
      = f.password_field :password, class: "input-fields form-control", placeholder: "Password\..."
      = f.label :password_confirmation, value: "Password Confirmation:", class: "field-labels"
      = f.password_field :password_confirmation, class: "input-fields form-control", placeholder: "Confirm Password\..."
      = f.submit yield(:var3), class: "csbuttons c-btn c-btn--primary"
