!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %title OverTrack
    = render 'layouts/defaultrails'
    = render 'layouts/shim.html.erb'
  %body
    = render 'layouts/header'
    %div.page-main-content
      %div.container-fuild
        %div.dark-theme
          %div#flash
            - flash.each do |message_type, message|
              .alert{:class => "alert-" + message_type }= message
          = yield

        /= debug(params) if Rails.env.development?
    = render 'layouts/footer'

    :javascript
      $(function(){
        $('#keywords').tablesorter();
      });


    :javascript
      $(document).ready(function(){
        setTimeout(function(){
          $('#flash').remove();
            }, 5000);
              })
