!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %title OverTrack
    = render 'layouts/defaultrails'
    = render 'layouts/shim.html.erb'
  %body
    = render 'layouts/header'
    %div.page-main-content
      %div.container-fuild
        %div.container.dark-theme
          = yield
          = debug(params) if Rails.env.development?
    :javascript
      $(function(){
        $('#keywords').tablesorter();
      });
